.navbar {
    width: 100%;
    background-color: rgb(0, 100, 167);
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.pading {
    padding-top: 90px;
}

.navbar img {
    margin-left: 20px;
}