<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-10 d-flex justify-content-center align-items-center">
            <nav class="navbar">
                <img src="../../../../assets/logotam.png" alt="" width="100px"> 
            </nav>
            <div class="row" style="margin-top: 80px;">
                <div class="col-12">
                    <h1>Registro de autor</h1>
                </div>
                <div class="col-12 mt-2">
                    <h5>Los datos con <b style="color: red;">*</b> son obligatorios</h5>
                </div>
                <div class="col-12 pl-5 pr-5 pt-2">
                    <form class="row" [formGroup]="formAuthor">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Nombre de usuario<b style="color: red;">*</b></label>
                            <input formControlName="name_author" type="text" class="form-control">
                            <small class="form-text text-muted">Máximo 10 caracteres.</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Contraseña<b style="color: red;">*</b></label>
                            <input formControlName="last_name" type="text" class="form-control">
                            <small class="form-text text-muted">Máximo 20 caracteres.</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Nombre(s)<b style="color: red;">*</b></label>
                            <input formControlName="name_author" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Apellido paterno<b style="color: red;">*</b></label>
                            <input formControlName="last_name" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Apellido materno<b style="color: red;">*</b></label>
                            <input formControlName="second_last_name" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Domicilio<b style="color: red;">*</b></label>
                            <input formControlName="address" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Colonia<b style="color: red;">*</b></label>
                            <input formControlName="suburb" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Codigo postal<b style="color: red;">*</b></label>
                            <input formControlName="postal_code" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>CURP<b style="color: red;">*</b></label>
                            <input formControlName="curp" type="text" class="form-control">
                            <small class="form-text text-muted">Consulta tu CURP <a href="https://www.gob.mx/curp/"
                                    target="_blank">aqui</a>.</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>RFC<b style="color: red;">*</b></label>
                            <input formControlName="rfc" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Telefono de contacto<b style="color: red;">*</b></label>
                            <input formControlName="phone_contact" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Correo electronico<b style="color: red;">*</b></label>
                            <input formControlName="email" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Municipio<b style="color: red;">*</b></label>
                            <input formControlName="city" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Localidad donde vives<b style="color: red;">*</b></label>
                            <input formControlName="locality" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Escuela o institución<b style="color: red;">*</b></label>
                            <input formControlName="school" type="text" class="form-control">
                            <small class="form-text text-muted">Ej. Ejido, Congregación, Ciudad, etc.</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Facebook</label>
                            <input formControlName="facebook" type="text" class="form-control">
                            <small class="form-text text-muted">Opcional.</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6">
                            <label>Twitter</label>
                            <input formControlName="twitter" type="text" class="form-control">
                            <small class="form-text text-muted">Opcional.</small>
                        </div>
                    </form>
                    <button class="btn btn-success mb-3" style="width: 200px; font-size: 18px;"
                        (click)="registerAuthor()" [disabled]="formAuthor.invalid">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</div>